.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#songs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}